{% extends "layout.html" %}
{% block body %}
<section class="info-tiles">
	<div class="tile is-ancestor has-text-centered">
		<div class="tile is-parent">
			<article class="tile is-child box">
				<p class="subtitle">Selectionner un groupe:</p>
<FORM>
<SELECT name="selected_group" size="1">
<OPTION>
{% for group in groups %}
	<OPTION>{{ group.name }}
{% endfor %}
</SELECT>
<INPUT TYPE="submit" NAME="send_group" VALUE="Valider">
</FORM>
                        </article>
                      </div>
                    </div>
                </section>

  {% for group in groups %}
  {% if selected_group == group.name %} 
                <section class="hero is-info is-bold is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Systems Currency pour le groupe {{ group.name }}
                            </h1>
                            <h2 class="subtitle">
                                Tri par colonne possible.
                            </h2>
  <table class="table is-striped is-hoverable is-fullwidth" id="system-currency">
  <thead>
  <tr>
    <th>System Name</th>
    <th data-sort-default>Score</th>
    <th>Security Critical</th>
    <th>Security Important</th>
    <th>Security Moderate</th>
    <th>Security Low</th>
    <th>Bugfix</th>
    <th>Enhancements</th>
  </tr>
  </thead>
  <tbody>
  {% for item in score %}
  {% for itemgroup in item.groups %}
  {% if group.name == itemgroup.system_group_name %}
  {% if itemgroup.subscribed == 1 %}
  <tr>
    <td><a href="?selected_sid={{ item.sid }}">{{ item.name }}</a></td>
    <td>{{ item.score }}</td>
    <td>{{ item.crit }}</td>
    <td>{{ item.imp }}</td>
    <td>{{ item.mod }}</td>
    <td>{{ item.low }}</td>
    <td>{{ item.bug }}</td>
    <td>{{ item.enh }}</td>
  </tr>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  </tbody>
  </table>

	<script>
		new Tablesort(document.getElementById('system-currency'), {
		  descending: true
		});
	</script>
                        </div>
                    </div>
                </section>
  {% endif %}
  {% endfor %}
  {% if selected_sid != 0 %}
  <section class="hero is-info is-bold is-small">
	  <div class="hero-body">
		  <div class="container">
			  <h1 class="title">Liste des patchs pour le serveur {{ name }}</h1>
                            <h2 class="subtitle">Tri par colonne possible.</h2>
  <table class="table is-striped is-hoverable is-fullwidth" id="system-currency">
  <thead>
  <tr>
    <th>Patche name</th>
    <th data-sort-default>Patch type</th>
    <th>Summary of the patch</th>
    <th>Patch update date</th>
    <th>Patch release date</th>
  </tr>
  </thead>
  <tbody>
  {% for patche in patches %}
  <tr>
    <td>{{ patche.advisory_name }}</td>
    <td>{{ patche.advisory_type }}</td>
    <td>{{ patche.advisory_synopsis }}</td>
    <td>{{ patche.update_date }}</td>
    <td>{{ patche.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

        <script>
                new Tablesort(document.getElementById('system-currency'), {
                  descending: true
                });
        </script>
                        </div>
                    </div>
                </section>
{% endif %}
{% endblock %}
